* {
  box-sizing: border-box;
  --primary-color: rgba(255, 255, 255, 0.8);
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#clients-container {
  margin: 15px;
}

.client {
  margin: 10px;
  font-size: 24px;
}

.hide {
  display: none;
}

.error {
  color: red;
}
