* {
  box-sizing: border-box;
  --primary-color: rgba(255, 255, 255, 0.8);
  --error-color: rgb(177, 30, 30);
  --request-background: rgb(119, 113, 113);
  --notification: rgb(24, 22, 22);
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#clients-container {
  margin: 15px;
}

#notification {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--notification);
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.client {
  margin: 10px;
  font-size: 24px;
}

.hide {
  display: none;
}

.error {
  color: var(--error-color);
}

.playing-request {
  padding: 20px;
  border-radius: 10%;
  background-color: var(--request-background);
  min-height: 300px;
  min-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
}
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
